server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/collectiondb
    username: collection_user
    password: collection_pass
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    liquibase:
      enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/kaas/protocol/openid-connect/certs
  flyway:
    enabled: true
    locations: classpath:db/migration


